<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
    <h3>
        <span>Inovarse</span>
    </h3>
    </div>
</md-toolbar>

<md-content>

    <md-list>
        <md-item ng-repeat="tema in temas">
            <a href="#/perguntas/{{tema.id}}">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>{{tema.nome}}</h3>
                        <p>
                            {{ tema.perguntas.length }} perguntas
                        </p>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </a>
        </md-item>
    </md-list>

</md-content>
